@import "../../../scss/variables.scss";

.home-banner{
  margin-top: 1em;
  background-color: white;
  border-radius: $border-radius;
  font-size: 2em;
  padding: 1em;
  display: flex;
  gap: 1em;

  &_info{
    display: flex;
    flex-direction: column;
    gap: .5em;
    h1{
      font-weight: 800;
      text-transform: capitalize;
    }
    p{
      font-size: .8em;
      font-weight: lighter;
      line-height: 1.3em;
      color: $gray-color-dark;
    }
  }
  
  &_buttons{
    display: flex;
    flex-direction: column;
    gap: .5em;
    
    button{
      font-size: 1em;
      @media screen and (max-width: $breakpoint-xs) {
        font-size: .7em;
      }
      .animate-button-icon{
        transition: transform 300ms;
      }
      svg{
        font-size: .7em;
      }
      &:hover{
        .animate-button-icon{
          transform: translateX(.5em);
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .home-banner{
    flex-direction: column;
  }
}