@import "../../../scss/variables.scss";

.cards{
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  margin-top: 2em;
}

.card{
  height: 20em;
  background-color: white;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: $default-transition;

  &_img{
    position: relative;
    height: 60%;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    span{
      transition: $default-transition;
      color: white;
      position: absolute;
      left: .5em;
      bottom: .5em;
      font-size: 1.1em;
      font-weight: 800;
    }
  }

  &_info{
    padding: .5em;
    h3{
      font-weight: 800;
      color: $secundary-color-hover;
      margin-bottom: .5em;
    }
    p{
      color: $gray-color-dark;
      line-height: 1.5em;
    }
  }

  &:hover{
    transform: scale(1.1);
    .card_img{
      img{
        filter: grayscale(100%);
      }
      span{
        color: white;
        font-size: 1.4em;
      }
    }
  }
}