@import "../../scss/variables.scss";

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  gap: 2em;
  color: $gray-color-dark;

  &_info{
    display: grid;
    gap: 1em;
    width: 100%;
    //grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
  

  &_aside{
    display: flex;
    flex-direction: column;
    gap: 1em;
    &_info{
      display: flex;
      flex-direction: column;
      gap: .5em;
      p{
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
        transition: $default-transition;
        &:hover{
          color: $secundary-color;
        }
      }
    }
    h2 {
      font-size: 1.2em;
      font-weight: 900;
      color: $secundary-color;
    }
  }
}
@media (max-width: 474px) {
  .footer_info{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .brand-icon{
    justify-content: center;
  }
}
.brand-icon{
  font-size: 2em;
  color: $secundary-color;
  display: flex;
  gap: .5em;
  cursor: pointer;
  flex-wrap: wrap;
  svg{
    transition: $default-transition;
    &:hover{
      color: $gray-color-dark;
    }
  }
}
.address{
  display: flex;
  flex-direction: column;
  gap: .5em;
}